---
// @ts-ignore
import Disk from './ui/icons/disk.astro'
import Memory from './ui/icons/memory.astro'
import Ssd from './ui/icons/ssd.astro'
import Server from './ui/icons/server.astro'

const svgIcons: Record<string, any> = {
  Disk,
  Memory,
  Ssd,
  Server
}

const features = [
  {
    title: 'Discos Duros',
    description:
      "Build your site using React, Svelte, Vue, Preact, web components, or just plain ol' HTML + JavaScript.",
    icon: 'Disk'
  },
  {
    title: 'Unidades SSD',
    description:
      'Astro renders your entire page to static HTML, removing all JavaScript from your final build by default.',
    icon: 'Ssd'
  },
  {
    title: 'Servidores RAID / NAS',
    description:
      'Need some JS? Astro can automatically hydrate interactive components when they become visible on the page.  ',
    icon: 'Server'
  },
  {
    title: 'Memorias',
    description:
      'Astro supports TypeScript, Scoped CSS, CSS Modules, Sass, Tailwind, Markdown, MDX, and any other npm packages.',
    icon: 'Memory'
  }
]
---

<section class='h-screen'>
  <div>
    <h2 class='text-4xl lg:text-5xl font-bold lg:tracking-tight'>
      Recuperación de datos
    </h2>
    <p class='text-lg mt-4 text-slate-600'>
      Recuperamos discos duros que otras empresas no pueden recuperar
    </p>
  </div>

  <div class='grid grid-cols-2 lg:grid-cols-2 mt-16 gap-16'>
    {
      features.map((item) => {
        const Icon = svgIcons[item.icon]
        return (
          <div class='flex flex-col gap-2'>
            <Icon />
            <>
              <h3 class='font-semibold text-lg'>{item.title}</h3>{' '}
              <p class='text-slate-500 mt-2 leading-relaxed'>
                {item.description}
              </p>
            </>
          </div>
        )
      })
    }
  </div>
</section>
