---
import { Picture } from 'astro:assets'
import heroImage from 'assets/hero.png'
import Link from '@components/ui/link.astro'
import { Icon } from 'astro-icon/components'
---

<main class='mx-auto max-w-5xl h-screen text-center items-center flex'>
  <div class='p-6 sm:p-8 text-center items-center flex flex-col'>
    <h1
      class='text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter'>
      Lorem ipsum, dolor sit amet uscipit reprehe.
    </h1>
    <h3 class='text-lg mt-4 text-slate-600 max-w-xl'>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio tenetur
      voluptates voluptatem, aut debitis itaque nam. Et atque perferendis dolor
      unde, dolore ipsam numquam labore.
    </h3>
    <div class='mt-6 md:mt-12 not-prose flex gap-2'>
      <div class='mt-6 flex flex-col sm:flex-row gap-3'>
        <Link
          href='#'
          href='https://web3templates.com/templates/astroship-starter-website-template-for-astro'
          target='_blank'
          class='flex gap-1 items-center justify-center'
          rel='noopener'>
          <Icon class='text-white w-5 h-5' name='bx:bxs-cloud-download' />

          Lorem ipsumdo
          <Link
            size='lg'
            style='outline'
            rel='noopener'
            href='https://github.com/surjithctly/astroship'
            class='flex gap-1 items-center justify-center'
            target='_blank'>
            <Icon class='text-black w-4 h-4' name='bx:bxl-github' />
            Bore quas, possimu
          </Link>
        </Link>
      </div>
    </div>
  </div>
</main>
