---
import { SEO } from 'astro-seo'
import Footer from '@components/footer.astro'
import Navbar from '@components/navbar/navbar.astro'
import '@fontsource-variable/manrope'
import { ViewTransitions } from 'astro:transitions'

export interface Props {
  title: string
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site).toString()

const resolvedImageWithDomain = new URL('/opengraph.png', Astro.site).toString()

const { title } = Astro.props

const makeTitle = title
  ? title + ' | ' + 'InfoCrip'
  : 'InfoCrip - Informática Forense'
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='generator' content={Astro.generator} />
    <ViewTransitions />
    <!-- <link rel="preload" as="image" href={src} alt="Hero" /> -->
    <!-- <script is:inline src='https://unpkg.com/lenis@1.1.2/dist/lenis.min.js'
    ></script>
    <script is:inline>
      const lenis = new Lenis()
      function raf(time) {
        lenis.raf(time)
        requestAnimationFrame(raf)
      }
      requestAnimationFrame(raf)
    </script> -->
    <SEO
      title={makeTitle}
      description='InfoCrip || Informática Forense '
      twitter={{
        creator: '@',
        site: '@',
        card: 'summary_large_image'
      }}
      openGraph={{
        basic: {
          url: canonicalURL,
          type: 'website',
          title: `InfoCrip - Informática Forense`,
          image: resolvedImageWithDomain
        },
        image: {
          alt: 'Astroship Homepage Screenshot'
        }
      }}
    />
  </head>
  <body>
    <Navbar />
    <slot />
    <Footer />
    <style is:global>
      /* Improve Page speed */
      /* https://css-tricks.com/almanac/properties/c/content-visibility/ */
      html.lenis,
      html.lenis body {
        height: auto;
      }

      .lenis.lenis-smooth {
        scroll-behavior: auto !important;
      }

      .lenis.lenis-smooth [data-lenis-prevent] {
        overscroll-behavior: contain;
      }

      .lenis.lenis-stopped {
        overflow: hidden;
      }

      .lenis.lenis-smooth iframe {
        pointer-events: none;
      }
      body {
        font-family: 'Manrope Variable', sans-serif;
      }
      img {
        content-visibility: auto;
      }
    </style>
  </body>
</html>
